@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  font-family: "Inter", sans-serif;
}

.menu-hidden {
  display: none;
}

.nav-link {
  color: #7d7e83;
}

.nav-link.active {
  color: white;
}

/* style for testimonial */
.testimonial-slider {
  display: flex;
  transition: transform 0.3s ease-in-out;
}
.testimonial-slide {
  flex: 0 0 100%;
}
@media (min-width: 768px) {
  .testimonial-slide {
    flex: 0 0 50%;
  }
}
@media (min-width: 1024px) {
  .testimonial-slide {
    flex: 0 0 calc(100% / 2.5);
  }
}
